<div class="container">
  <h1 style="color: white">Movies database</h1>
  <div class="row">
    <div class="col-2" align="center">
      <button mat-raised-button color="primary" flex="150">All movies</button>
    </div>
    <div class="col-1">
      <mat-form-field appearance="fill">
        <mat-label>Select movie id</mat-label>
        <mat-select>
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
  </div>
  <div class="row">
    <table mat-table [dataSource]="movies" class="mat-elevation-z8">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let movie"> {{movie.title}} </td>
      </ng-container>

      <ng-container matColumnDef="director">
        <th mat-header-cell *matHeaderCellDef> Director </th>
        <td mat-cell *matCellDef="let movie"> {{movie.director}} </td>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Release year </th>
        <td mat-cell *matCellDef="let movie"> {{movie.year}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>