/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 100 100 100 100;
    background-color: rgb(48, 48, 48);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
